@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  scroll-behavior:smooth;
}

body{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.cool-hover {
  position: relative;
  overflow: hidden;
  display: table;
}

span{
  position: relative;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.btnBefore, .btnBig {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #FF6600;
}
.cool-hover .btnBefore, .cool-hover .btnBig {
    right: 0;
    bottom: 0px;
}

.execute-hover:hover .btnBefore {
  border-width: 0 0 2px 50px;
}

.execute-hover:hover .btnBig{
  border-width: 0 0 2px 180px;
}

/*
.execute-hover:hover .btnAfter, .execute-hover:hover .btnBig {
height: 100%;
width: 100%;
transition: width 1s ease, height 1s ease 1s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 1s ease, height 1s ease 1s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 1s ease, height 1s ease 1s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 1s ease, height 1s ease 1s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 1s ease, height 1s ease 1s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}*/

circle,
line,
rect{
  stroke-width: 50px;
  stroke-linecap: round;
  fill: transparent;
}

circle:hover, line:hover, rect:hover, path:hover{
  cursor: pointer;
}

.card-holder{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px,1fr));
  align-content: start;
  gap: 1rem;
}